.vs/MyGraphicFramework/FileContentIndex/1fa2d31e-7003-4735-97ca-19f81d4eb925.vsidx
.vs/MyGraphicFramework/v17/.suo
.vs/MyGraphicFramework/v17/Browse.VC.db
.vs/MyGraphicFramework/v17/Browse.VC.db-shm
.vs/MyGraphicFramework/v17/Browse.VC.db-wal
.vs/MyGraphicFramework/v17/Browse.VC.opendb
.vs/MyGraphicFramework/v17/DocumentLayout.json
.vs/MyGraphicFramework/v17/ipch/AutoPCH/39fc7d2c625d793c/MAIN.ipch
MyGraphicFramework/x64/Debug/Delegates.obj
MyGraphicFramework/x64/Debug/DisplayWin32.obj
MyGraphicFramework/x64/Debug/Game.obj
MyGraphicFramework/x64/Debug/GameComponent.obj
MyGraphicFramework/x64/Debug/InputDevice.obj
MyGraphicFramework/x64/Debug/main.obj
MyGraphicFramework/x64/Debug/MeshCreator.obj
MyGraphicFramework/x64/Debug/MyGraphi.183EEB23.Up2Date
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/CL.command.1.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/Cl.items.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/CL.read.1.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/CL.write.1.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/CopyLocal.read.1u.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/CopyLocal.write.1u.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/fxc.command.1.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/fxc.read.1.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/fxc.write.1.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/link.command.1.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/link.read.1.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/link.secondary.1.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/link.write.1.tlog
MyGraphicFramework/x64/Debug/MyGraphi.8dceca4b.tlog/MyGraphicFramework.lastbuildstate
MyGraphicFramework/x64/Debug/MyGraphicFramework.exe.recipe
MyGraphicFramework/x64/Debug/MyGraphicFramework.ilk
MyGraphicFramework/x64/Debug/MyGraphicFramework.log
MyGraphicFramework/x64/Debug/MyGraphicFramework.vcxproj.FileListAbsolute.txt
MyGraphicFramework/x64/Debug/PlayerControlComponent.obj
MyGraphicFramework/x64/Debug/TriangleComponent.obj
MyGraphicFramework/x64/Debug/vc143.idb
MyGraphicFramework/x64/Debug/vc143.pdb
x64/Debug/MainShader.cso
x64/Debug/MyGraphicFramework.exe
x64/Debug/MyGraphicFramework.pdb
x64/Debug/xapobaseredist.pdb
x64/Debug/xaudio2_9redist.dll
x64/Debug/xaudio2_9redist.pdb
.vs/MyGraphicFramework/FileContentIndex/78fe401e-0bf9-4a60-8a12-610813930547.vsidx
.vs/MyGraphicFramework/FileContentIndex/09d2e7cd-e0f1-4e3f-893e-e930b29ecaa5.vsidx
.vs/MyGraphicFramework/v17/DocumentLayout.backup.json
.vs/MyGraphicFramework/v17/ipch/AutoPCH/dbaae4b619a6b3db/GAME.ipch
.vs/MyGraphicFramework/v17/ipch/AutoPCH/fbc0686e2eec0dc/PLAYERCONTROLCOMPONENT.ipch
.vs/MyGraphicFramework/v17/ipch/AutoPCH/e5568bed8ccfaccd/PONGGAME.ipch
.vs/MyGraphicFramework/v17/ipch/AutoPCH/d7c9f1e8c506ec42/MESHCREATOR.ipch
.vs/MyGraphicFramework/v17/ipch/AutoPCH/c2dad5849f3d8100/DISPLAYWIN32.ipch
.vs/MyGraphicFramework/v17/ipch/AutoPCH/aacc5ab581b1ccca/TRIANGLECOMPONENT.ipch
.vs/MyGraphicFramework/FileContentIndex/eb315afe-f9e2-4027-b959-4d91395a54f3.vsidx
.vs/MyGraphicFramework/FileContentIndex/ab0e7eb8-2ec3-46ba-98bf-c7d1b8f0fb62.vsidx
MyGraphicFramework/MyGraphicFramework.vcxproj
MyGraphicFramework/MyGraphicFramework.vcxproj.filters
MyGraphicFramework/MyGraphicFramework.vcxproj
MyGraphicFramework/MyGraphicFramework.vcxproj.filters
.vs/MyGraphicFramework/FileContentIndex/b01956df-348c-41fc-81f6-904734fd9316.vsidx
MyGraphicFramework/x64/Debug/PongGame.obj
MyGraphicFramework/MyGraphicFramework.vcxproj
MyGraphicFramework/MyGraphicFramework.vcxproj.filters
.vs/MyGraphicFramework/v17/Solution.VC.db
.vs/MyGraphicFramework/FileContentIndex/bb934974-1a7d-47a9-a297-1e089de39fdd.vsidx
.vs/MyGraphicFramework/FileContentIndex/9f800594-09f8-4f6d-a539-098e3c760b19.vsidx
.vs/MyGraphicFramework/v17/ipch/AutoPCH/48ab32d683bf479c/GAMECOMPONENT.ipch
.vs/MyGraphicFramework/v17/ipch/AutoPCH/9cfb1c633d1984bf/GAME.ipch
.vs/MyGraphicFramework/v17/ipch/AutoPCH/a37f30b779a88c8e/MESHCREATOR.ipch
.vs/MyGraphicFramework/v17/ipch/AutoPCH/bc979a4c6c866418/MAIN.ipch
.vs/MyGraphicFramework/v17/ipch/AutoPCH/c88e7c7bb9f008ae/TRIANGLECOMPONENT.ipch
.vs/MyGraphicFramework/v17/ipch/AutoPCH/f42f5c54c49f7d9/PONGGAME.ipch
